{% extends 'base.html.twig' %}

{% block metatitle %}
	{{ product.title }}
{% endblock metatitle %}

{% block main %}

	<article>
	
	<h2>{{ product.title }}</h2>
			
	<p>{{ product.category.color }}"</p>
					
	<p>{{ product.description }}</p>
					
	<p>Publié le{{ product.createdAt | date()}}</p>

	<p>{{product.updatedAt | date()}}</p>

	</article>

	</section>
	
{% endblock main %}